@font-face {
 font-family: 'm-bold';
 src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
 font-family: 'm-medium';
 src: url(/fonts/Montserrat-Medium.ttf);
}
@font-face {
 font-family: 'm-regular';
 src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
 font-family: 'm-light';
 src: url(/fonts/Montserrat-Light.ttf);
}

body {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 /* background: #faf0ca; */
 background: #e0e1dd;
 font-family: m-regular, sans-serif;
 color: #0d3b66;
}

.main {
 margin-top: 50px;
 /* margin-left: 50px; */
 margin-bottom: 60px;
}

.main-title {
 font-size: 80px;
 /* color: #0d3b66; */
 /* color: #ee964b; */
 color: #1b263b;
 font-family: m-bold, sans-serif;
}

.main-subtitle {
 font-size: 30px;
 /* position: absolute; */
 display: flex;
 flex-direction: row-reverse;
 right: 50px;
 margin-top: -80px;
 color: #778da9;
 
}

.main-title-common {
 /* color: #f95738; */
 color: #415a77;
 font-size: 25px;
 margin-top: 50px;
}

.commands {
 font-size: 20px;
 color: #619b8a;
}

li {
 margin-top: 10px;
}

.new-word {
 font-size: 20px;
 color: #0077b6;
 margin-left: 40px;
}

.features {
 font-size: 20px;
 color: #219ebc;
}

.footer {
 background: #1b263b;
}

.feedback {
 padding: 50px;
 color: #e0e1dd;
 text-align: center;
}
.email {
 color: #778da9;
}


@media (min-width: 300px) {
 .main-title {
  font-size: 72px;
  text-align: center;
 }
 .main-subtitle {
  font-size: 21px;
  margin-top: 0;
  flex-direction: row;
  text-align: center;
  justify-content: center;
 }
 .main-title-common {
  font-size: 21px;
  text-align: center;
 }
 .new-word {
  margin-left: 5%;
 }
}

@media (min-width: 576px) { 
 .main-title {
  text-align: start;
 }
 .main-subtitle {
  font-size: 26px;
  text-align: start;
 }
 .main-title-common {
  font-size: 23px;
 }
 .new-word {
  margin-left: 40px;
 }
 }

@media (min-width: 768px) { 
 .main-subtitle {
  font-size: 27px;
 }
 .main-content {
  margin-left: 30px;
 }
 }

@media (min-width: 992px) { 
 .main-subtitle {
  font-size: 25px;
  margin-top: -65px;
  flex-direction: row-reverse;
 }
 .main-content {
  margin-left: 30px;
 }
 }

 @media (min-width: 1200px) { 
 .main-title {
  font-size: 80px;
 }
 .main-subtitle {
  font-size: 30px;
  margin-top: -80px;
 }
 .main-content {
  margin-left: 30px;
 }
 .main-title-common {
  font-size: 25px;
 }
 }